#include "main.h"

LANGUAGE 9, 1
#pragma code_page(1252)

IDI_NOTIFICATIONICON_0 ICON "0.ico"
IDI_NOTIFICATIONICON_1 ICON "1.ico"
IDI_NOTIFICATIONICON_2 ICON "2.ico"
IDI_NOTIFICATIONICON_3 ICON "3.ico"

IDC_CONTEXTMENU MENU
BEGIN
  POPUP ""
  BEGIN
  MENUITEM APPNAME, 0, HELP
  MENUITEM "E&xit", IDM_EXIT
  END
END
